{% extends 'base.html' %}

{% block content %}
    {{block.super}}
    <head>
        <style>
            body {
                overflow: hidden;
            }
        </style>
    </head>
    {% if image %}
        <div class="container image-view-container">
            <div class="the-image">
                <img class="img-responsive" src="{{ view_image.image.url }}" alt="img">
            </div>
            <div class="image-details">
                <table>
                    <tr>
                        <th>Image Name:</th>
                        <td>{{ image.name }}</td>
                    </tr>
                    <tr>
                        <th>Image Description:</th>
                        <td>{{ image.description }}</td>
                    </tr>
                    <tr>
                        <th>Location:</th>
                        <td>{{ image.location }}</td>
                    </tr>
                    <tr>
                        <th>Categories:</th>
                        <td>{{ image.category }}</td>
                    </tr>
                    <tr>
                        <th>Date Posted:</th>
                        <td>{{ image.pub_date }}</td>
                    </tr>
                </table>
                <script>
                    function shareLink() {
                        window.clipboardData.setData("Text",location.href);
                        alert('URL copied!');
                    }
                </script>
                <button class="btn btn-warning" onclick="shareLink()"><i class="fas fa-share-alt" style="color: beige; float: right; margin: 10px;"></i></button>
            </div>
        </div>
    {%else%}
        <div class="container-fluid">
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                  <h1 class="display-3">Image Not Found</h1>
                  <p class="lead">Try another image</p>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}