{%extends 'base.html'%} 
{% block content %}
<div class="container">

  <div class="row">
    {% if imagesFound %}
      <h2>Found {{ imagesFound|length }} of searched term {{message}}</h2>
    {% else %}
      <h2> Found 0 Images for the search term {{message}}</h2>
    {% endif %}

  </div>

  <div class="row">

  {% if imagesFound %}
    {% for image in imagesFound %}
      <div class="col-sm-6 col-md-3">
          <h1>{{image.name}}</h1>
          <img src="{{image.image.url}}" class="card-img-top" alt="image" height="250px">
      </div>
    {% endfor %}
  {% endif %}
  </div>
</div>
{% endblock %}